body{
	font-family: arial;
}
p.intro{
	font-weight: bold;
	font-size: 1.2em;
}
h1{
	color: #F40825;
}
.banner{
	width: 100%;
	height: 400px;	
	overflow: hidden;
	background-image:url(../img/Lighthouse.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:center;
}
footer{
	background-color: #efefef;	
	padding: 30px;
	text-align: center;
}