body{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height:1.6em;
}
.show-grid{
	margin-bottom: 15px;
}

#newGroup{
	display: none;
}
.newPostForm{
	display: none;
}
ul.list{
	list-style:none;
	padding-left: 0;
}
h1,h2,h3,h4{

}

h2,.h2{
	margin-top: 0;	
}
a, a:hover{
 	color:#08395b;
	text-decoration:none;
}
.news h4, .posts h4, h4{
	margin-bottom: 4px;
	font-size:15px;
	font-weight:bold;
	line-height:1.3em;	
}
.news p, .posts p{	
	margin-bottom: 0;
}
.subscription{
	cursor:pointer;
}
#logo{
	background:#f6f6f6 url('/cms/images/25/1400/516/main-bg-iss.png?_dc=1421250682000') no-repeat 30% -48px;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0;
}
#logo form{
	margin:30px 0 0 0;
	
}
#sann-sok{
	margin-right:25px;
}
#logo form.last{
	padding-right:0;
}
#logo .logo-img{
margin-left:15px;
float:left;
}
.ngimenu{
	background-color: #08395b;
	border-radius:0;
}
.ngimenu a{
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:16px;
}
.ngimenu .nav>li>a:hover, .ngimenu .nav>li>a:focus{
	background:#222;
}
.ngimenu .nav>li.active>a{
	
}
.ngimenu .navbar-collapse{
	padding:0;
}
.ngimenu .btn-group{
	margin:8px 0;
}
.dropdown-menu>li>a{
	font-size:inherit;
	font-family:inherit;
}
.btn-default{
	background:#e5edf2;
	/*color:#9d9d9d;*/
}
.btn-default:hover{
	background:#080808;
	color:#fff;
}
.btn-black{
	background:#222;
	color:#ccc;
	border: transparent;
}

.btn-success{
background:#6ECD9C;
}
.btn-success:hover{
background:#51bb84;
}
.h3{
	color:#333;
	border-bottom:#333 solid 1px;
	font-size:20px;
	padding-bottom: 4px;
}
.h3 a{
	color:#333;
}
.jumbotron{
	margin-top:-20px;
}
.newPageBtn{
	float: right;
	margin-top: -35px;	
}
.posts .tema{
	display: none;
}
.news p>span, .posts p>span{
	font-size: 12px;
}
.newslist p{
	padding-left: 15px;
}
.round {
    border-radius: 50%;
	overflow: hidden;
	width: 100%;
	height: 100%;
    }
.round img {
	display: block;
	height: auto;
	width: auto;
    }

@media (max-width:768px){
#logo form{
	clear:both;
}
#logo .navbar-form .form-group{
	float:left;
	margin-right:15px;
}
#logo #sann-sok{
	margin:0;
}
.news img{
	margin-bottom:15px;
}

}




