body{
	font-family: "calluna-sans",sans-serif;
	font-size: 15px;
	line-height:1.7em;
	padding-top: 225px!important;
}
.show-grid{
	margin-bottom: 15px;
}

#newGroup{
	display: none;
}
.newPostForm{
	display: none;
}
ul.list{
	list-style:none;
	padding-left: 0;
}
h1,h2,h3,h4{
	font-family: "calluna",sans-serif;
}

h2,.h2{
	margin-top: 0;	
}
a, a:hover{
 	color:#AB2326;
	text-decoration:none;
}

#logo{
	background:#e3e3e3 url('/cms/images/16/340/340/piler.png?_dc=1421145700000') no-repeat right center;
	padding-top:20px;
	padding-bottom:20px;
	margin-bottom:0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
	top: 50px;
}
#logo form{
	margin:30px 0 0 0;
}
#sann-sok{
	margin-right:25px;
}
#logo form.last{
	padding-right:0;
}
#logo .logo-img{
margin-left:15px;
float:left;
}
.ngimenu{
	background-color: #AB2326;
	border-radius:0;
	position: fixed;
	left: 0;
	right: 0;
	top:155px;
	z-index: 1030;
}
.ngimenu a{
	color: #FFFFFF;
	font-family: "calluna",sans-serif;
	font-size:18px;
}
.ngimenu .nav>li>a:hover, .ngimenu .nav>li>a:focus{
	background:#222;
}
.ngimenu .nav>li.active>a{
	
}
.ngimenu .navbar-collapse{
	padding:0;
	max-height:100%;
}
.ngilinks .btn{
	margin:8px 0;
}
.dropdown-menu>li>a{
	font-size:inherit;
}
.navbar-toggle{
	background-color: #222;
}
.navbar-toggle .icon-bar{
	background-color: #ccc;
}

.btn-default{
	background:#222;
	color:#ccc;
	border: 1px solid #000;
}
.btn-default:hover{
	background:#080808;
	color:#fff;
}
.btn-success{
background:#6ECD9C;
}
.btn-success:hover{
background:#51bb84;
}
.air-right{
	padding-right:40px;
}
.air-center{
	padding:0 26px;
}
.air-left{
	padding-left:40px;
}
#startpage{
	/*margin-top: 160px;*/
}
/*
#startpage h3, .h3, #chart h3{
	color:#333;
	border-bottom:#333 solid 1px;
	font-size:20px;
	padding-bottom: 4px;
	font-family: "calluna",sans-serif;
}
*/
#startpage h3, .h3, #chart h3{
	background-color:#f5f5f5;
	clear:both;
	padding:8px 5px 10px 12px;
	border-radius: 5px 5px 0 0;
	border:#d7d7d7 1px solid;
	margin-top:45px;
	font-size:20px;
	color:#333;
	font-family: "calluna",sans-serif;
}

#startpage h3 a{
	color:#333;
}
#startpage h3 a:hover{
	color:#AB2326;
}
h3 a, .h3 a{
	background: url(/cms/images/60/30/30/) no-repeat right 70%;
	padding-right: 20px;
}
.jumbotron{
	margin-top: -50px;
}
.carousel-indicators{
bottom:0;
}
.newPageBtn{
	float: right;
	margin-top: -35px;	
}
#startpage .newPageBtn{
	margin-top: -42px;	
	background-color:#fff;
	margin-right:10px;
	border:1px solid #ccc;
}
.news h4, .posts h4, h4{
	margin-bottom: 0;	
}
.news p, .posts p{	
	margin-bottom: 0;
}
.subscription{
	cursor:pointer;
}
.posts .tema{
	display: none;
}
.news p>span, .posts p>span{
	font-size: 12px;
}
.newslist .img-responsive{
	margin-top: 5px;
}
.newslist p{
	padding-left: 15px;
}
.round {
    border-radius: 50%;
	overflow: hidden;
	width: 100%;
	height: 100%;
    }
.round img {
	display: block;
	height: auto;
	width: auto;
    }
.commentcomments{
	padding: 0 20px;
	clear: both;		
}
#addfile{
	display: block;
}
.commentlist{
	height: 50px;
	overflow: hidden;	
}
.read-full-comm{
	background-color: #fff;
	float: right;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	padding: 0 5px 0 10px;
	color: #AB2326;	
	cursor: cell;
	top: 50px;
}
a[href$=".pdf"]{
	background:url('/cms/images/49/340/340/pdfsmall.png?_dc=1421929738000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".doc"], a[href$=".docx"]{
	background:url('/cms/images/47/340/340/docsmall.png?_dc=1421929738000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".xls"], a[href$=".xlsx"]{
	background:url('/cms/images/51/340/340/xlssmall.png?_dc=1421929739000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".ppt"], a[href$=".pptx"]{
	background:url('/cms/images/50/340/340/pptsmall.png?_dc=1421929739000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}

/*Event kalender*/
li.dayWithEvents.activity a{
	background-color:#666;
}
li.dayWithEvents.event a{
	background-color:#AB2326;
}
.eventsCalendar-list li time p{
	margin-bottom: 0;
}
#event-calendar{
	margin-bottom: 30px;
}
li.eventsCalendar-day.empty:last-of-type{
	border-right: solid 1px #bcbcbc;
}

@media (max-width:768px){

}

@media (min-width:991px){
#mob_search{
	display:none !important;
}


}



@media (max-width: 991px) {

body{
	padding-top:0px !important;
}
.air-right{
	padding-right:15px;
}
.air-center{
	padding:0 15px;
}
.air-left{
	padding-left:15px;
}
.navbar-fixed-top{
	margin-bottom:0;
}
.ngimenu{
	position:relative;
	top:50px;
	margin-bottom:50px;
	z-index:1;
}
#mob_search form{
	margin-bottom:10px;
}
.ngiadm{
	display:none;
}
#logo {
	position:relative;
	padding-top:15px;
	padding-bottom:15px;
	z-index:1;
}
#logo .logo-img{
	width:90px;
	margin-left:0;
}
#logo form{
display:none;
}
.jumbotron{
	margin-top:0px;
}
.news img{
	margin-bottom:15px;
}
#xcal{
	margin-top:90px !important;
}

.navbar-right{
	float:none !important;
}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
		padding-right:15px;
		padding-left:15px;
    }
    .collapsing {
        overflow: hidden!important;
    }
}




