@font-face { 
	font-family: 'Lovelo'; 
	src: url('fonts/Lovelo_Black.eot'); 
	src: url('fonts/Lovelo_Black.eot?#iefix') format('embedded-opentype'), 
		url('fonts/Lovelo_Black.woff') format('woff'),  
		url('fonts/Lovelo_Black.ttf') format('truetype'), 
		url('fonts/Lovelo_Black.svg#loveloblack') format('svg'); 
	font-weight: normal; 
	font-style: normal;
}

 
  
body{
	font-family: "open-sans",sans-serif;
	font-size: 15px;
	line-height:1.48em;
	background:#f5f5f5;
	
	/* Sticky footer */
	margin-bottom:140px;
}
.show-grid{
	margin:0 5px 15px 5px;
}

#newGroup{
	display: none;
}
.newPostForm{
	display: none;
}
ul.list{
	list-style:none;
	padding-left: 0;
}
h1,h2,h3,h4{
	
}

h2,.h2{
	margin-top: 0;
}
a, a:hover{
 	color:#0096d7;
	text-decoration:none;
}
.top-admin{
	margin-bottom:0;
}
.navbar-brand{
	font-family: Lovelo,sans-serif;
	/*font-family:classic-comic, sans-serif;*/
	font-size:14px;
}
.gray{
	background:#ddd;
}
#logo_wrap{
	background:url('/img/topbar.png') no-repeat center center;	
	height:90px;
}
#logo{
	background:url('/img/topbar_end.png') center center;
	margin-bottom:0;
}
#logo form{
	margin:30px 0 0 0;
}
#sann-sok{
	margin-right:25px;
}
#logo form.last{
	padding-right:0;
}
#logo .logo-img{
margin-left: 15px;
margin-top: 30px;
float:left;
}
.sym-menu{
	background-color: #1f1f1f;
	border-radius:0;
	/*
	position: fixed;
	left: 0;
	right: 0;
	top:140px;
	z-index: 1030;
	*/
}
.sym-menu a{
	font-family: Lovelo,sans-serif;
	font-size:12px;
	color:#bbb;
}
.sym-menu a:hover{
	color:#fff;
}
.sym-menu .nav>li>a:hover, .sym-menu .nav>li>a:focus{
	background:#222;
}
.sym-menu .nav>li.active>a{
	
}
.navbar-collapse.sym-menu{
	padding:0;
	max-height:100%;
}
.f-nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.ngilinks .btn{
	margin:8px 0;
}
.dropdown-menu>li>a{
	font-size:inherit;
	font-family: "open-sans",sans-serif;
}
.navbar-toggle{
	background-color: #222;
}
.navbar-toggle .icon-bar{
	background-color: #ccc;
}

.btn-default{
	background:#222;
	color:#ccc;
	border: 1px solid #000;
}
.btn-default:hover{
	background:#080808;
	color:#fff;
}
.btn-col{
	background:#0096d7;
	color:#fff;
}
.btn-success{
background:#6ECD9C;
}
.btn-success:hover{
background:#51bb84;
}
.air-right{
	padding-right:40px;
}
.air-center{
	padding:0 26px;
}
.air-left{
	padding-left:40px;
}
.box{
	background:#fff;
	border: 1px #ccc solid;
	margin-top:45px;
	overflow:hidden;
}
#startpage{
	/*margin-top: 160px;*/
}
/*
#startpage h3, .h3, #chart h3{
	color:#333;
	border-bottom:#333 solid 1px;
	font-size:20px;
	padding-bottom: 4px;
	font-family: "calluna",sans-serif;
}
*/
#startpage h3, .h3, #chart h3{
	background-color:#f5f5f5;
	clear:both;
	padding:10px 5px 10px 12px;
	margin-top:0;
	font-size:20px;
	color:#333;
}
#startpage h3, .h3, #chart h3{
min-height:40px;
padding-right:20px;
padding-left:20px;
background-color:#fafafa;
background-image:-moz-linear-gradient(top,#fff,#f2f2f2);
background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image:-webkit-linear-gradient(top,#fff,#f2f2f2);
background-image:-o-linear-gradient(top,#fff,#f2f2f2);
background-image:linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat:repeat-x;
border-bottom:1px solid #ccc;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
*zoom:1;
-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
box-shadow:0 1px 4px rgba(0,0,0,0.065);
}
#startpage h3 a{
	color:#333;
}
#startpage h3 a:hover{
	color:#0096d7;
}
h3 a, .h3 a{
	/*background: url(/cms/images/60/30/30/) no-repeat right 70%;*/
	padding-right: 20px;
}
.pagecomments .h3{
	border:1px solid #ccc;
	margin-top: 40px;
}
.jumbotron{
	background:#393e4a;
	border-top: 1px solid #4e4e4e;
}
.jumbotron h1{
	color:#fff;
}	
.jumbotron p{
	color:#fff;
	line-height:1.5;
}
.text-info{
	color:#bbb;
}
#filter{
	color:#bbb;
}
.carousel-indicators{
bottom:0;
}
.newPageBtn{
	float: right;
	margin-top: -35px;	
}
#startpage .newPageBtn{
	margin-top: -42px;	
	background-color:#fff;
	margin-right:10px;
	border:1px solid #ccc;
}
.news h4, .posts h4, h4{
	margin-bottom: 0;
	font-size:16px;
	line-height:1.4em;
}
.news p, .posts p{	
	margin-bottom: 0;
}
.subscription{
	cursor:pointer;
}
.posts .tema{
	display: none;
}
.news p>span, .posts p>span{
	font-size: 12px;
}
.newslist .img-responsive{
	margin-top: 5px;
}
.newslist p{
	padding-left: 15px;
}
.round {
    border-radius: 50%;
	overflow: hidden;
	width: 100%;
	height: 100%;
    }
.round img {
	display: block;
	height: auto;
	width: auto;
    }
.commentcomments{
	padding: 0 20px;
	clear: both;		
}
#addfile{
	display: block;
}
.commentlist{
	height: 50px;
	overflow: hidden;	
}
.read-full-comm{
	background-color: #fff;
	float: right;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	padding: 0 5px 0 10px;
	color: #0096d7;	
	cursor: cell;
	top: 50px;
}
a[href$=".pdf"]{
	background:url('/cms/images/49/340/340/pdfsmall.png?_dc=1421929738000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".doc"], a[href$=".docx"]{
	background:url('/cms/images/47/340/340/docsmall.png?_dc=1421929738000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".xls"], a[href$=".xlsx"]{
	background:url('/cms/images/51/340/340/xlssmall.png?_dc=1421929739000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}
a[href$=".ppt"], a[href$=".pptx"]{
	background:url('/cms/images/50/340/340/pptsmall.png?_dc=1421929739000') no-repeat left;
	display:inline-block;
	height:60px;
	padding:10px 0 0 60px; 
}

/*Event kalender*/
li.dayWithEvents.activity a{
	background-color:#666;
}
li.dayWithEvents.event a{
	background-color:#0096d7;
}
.eventsCalendar-list li time p{
	margin-bottom: 0;
}
#event-calendar{
	margin-bottom: 30px;
}
li.eventsCalendar-day.empty:last-of-type{
	border-right: solid 1px #bcbcbc;
}

.footer {
  position: absolute;
  bottom: -140px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #19191b;
  color:#8d8d8d;
  padding-top:15px;
}


@media (max-width:768px){

}

@media (min-width:991px){
#mob_search{
	display:none !important;
}


}



@media (max-width: 991px) {

.air-right{
	padding-right:15px;
}
.air-center{
	padding:0 15px;
}
.air-left{
	padding-left:15px;
}
.sym-menu{
	padding-top: 25px !important;
}
#mob_search form{
	margin-bottom:10px;
}
.ngiadm{
	display:none;
}
#logo_wrap{
	height:auto;
}
#logo .logo-img{
	width:110px;
	margin:17px 17px 0 0;
}
#logo form{
display:none;
}
#startpage{
	margin-top: -30px;
}
.news img{
	margin-bottom:15px;
}
.newslist a{
	height:auto;
}

.navbar-right{
	float:none !important;
}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
		padding-right:15px;
		padding-left:15px;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.dropdown-menu>li>a	{
		color:#bbb;
	}
	.ngilinks .dropdown-menu>li>a	{
		color:#333;
	}	
}




